@use "./base.scss";

// put your custom CSS here!

// Custom font
:root {
    --headerFont: "Computer Modern Serif", serif !important;
    --bodyFont: "Computer Modern Serif", serif !important;
    --codeFont: "Computer Modern Typewriter", monospace !important;
}

// Remove internal link highlight
a.internal {
    background-color: transparent;
}

// Make table of contents taller
ul.overflow, ol.overflow {
    max-height: calc(100vh - 16em);
}

// Center images
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Disable hyphens
p, ul, text, a, tr, td, li, ol, ul {
    hyphens: none;
    -webkit-hyphens: none;
}

// Edge case for multiline explorer folders
// Aline arrow to first line of text instead of center
.folder-container {
    align-items: start !important;
}
.folder-icon {
    margin-top: 6px;
}